@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    padding: 0; margin: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
p{
    color:dimgray;
    font-size: 18px;
    line-height: 23px;
}
#welcome-area{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.details-area{
    width: 40%;
    margin-left: 5%;
}

h1{
    font-size: 50px;
    font-weight: 600;
}

 h2{
    font-size: 50px;
    font-weight: 600;
}
h3{
    font-size: 19px;
    font-weight: 700;
    color: 000000;
}
.details-area span{
    font-size: 50px;
    color: orange;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.image-area{
    width: 40%;
    margin-right: 5%;
}

.jhankar-1{
    width: 100%;
    margin-top: 4%;
}

.btn {
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 14px 30px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
}

/* ##### CSS FOR DREAM SECTION ##### */

#dream-area{
    background: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
}


.image-section{
    width: 40%;
    margin-left: 5%;
    margin-top: 8%;
}

.jhankar-2{
    width: 100%;
}

.dream-details{
    width: 40%;
    margin-right: 5%;
}

/* ##### CSS FOR EXPERIENCES ###### */

#experience{
    width: 100%; 
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin: 10% 0;
    
}


.parent-box{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.parent-box h2{
    font-weight: 600;
    font-size: 40px;
}

.parent-box h3{
    color: orange;
    font-weight: 600;
}

.parent-box p{
    font-size: 16px;
}


.box-1{
    margin-right: 4%;
    box-shadow: 5px 7px 40px grey;
    padding-left: 35px;
    border-left: 7px solid tomato;
    padding-bottom: 8%;
}

.box-2{
    margin-left: 4%;
    box-shadow: 5px 7px 40px grey;
    padding-left: 35px;
    border-left: 7px solid blue;
}

footer{
    text-align: center;
}














